<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>


<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

</head>
<body>
    
<p>Heres your profile!</p>

<h3>Your appointments</h3>
<label>appointments</label>

<h2>Make an Appointment!</h2>
<a href="/newAppointment"><button>Log In</button></a> 


</body>
</html>