<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Account</title>
</head>
<body>
    
<!-- fName, lName, eMail, phoneNumber, address -->

    <h1> Create New Account </h1>
    <form action="/" method="post">
    
    <fieldset>
    
    
        
    </fieldset> <!-- End Fieldset -->
    
        </form> <!-- End form -->

        <a href="/"><button>Back to landing page</button></a>

</body>
</html>