<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Barber Pet Grooming</title>

    <!-- favicon -->
    <link rel="icon" type="image/jpg" href="/pictures/logo.webp">

    <!-- link to styleSheet -->
    <link rel="styleSheet" href="/styles/styles.css">
</head>
<body>
    
<h1>Pet Barber</h1>

<!-- picture here -->
 <img src = "/pictures/landingPagePicture.jpg">

<!-- Create an Account -->
<a href="/createAccount"><button>Create Account</button></a>

<!-- Log in to existing account -->
<a href="/login"><button>Log In</button></a> 

</body>
</html>