<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In To Existing Account </title>

<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

</head>
<body>

<!-- fName, lName, eMail, phoneNumber, address -->

    <h1> Log In To Existing Account </h1>
    <form action="/login" method="post">    
        <fieldset>
        
<label for = "email" class = "loggingInInputs"> Enter your Email: 
<input type="email" maxlength="255" name="email" id="email" placeholder="example@email.com"> </input>
</label>

<label for = "password" class = "loggingInInputs"> Enter your password:
<input type="text" maxlength="255" name="password" id="password" placeholder="V3ryS3cur3P@ssw0rd"> </input>
</label>
        
            
        </fieldset> <!-- End Fieldset -->
    </form> <!-- End form -->

    <a href="/"><button>Back to landing page</button></a>
    

</body>
</html>