<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Appointment </title>

<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

 <!-- link to validation -->
 <script src="/public/scripts/client-validation.js" defer></script>

 
</head>
<body>
   

    <img id ="newAppointmentImg" src = "/pictures/dogLandingPagePicture.jpg">

    <h2>Create New Appointment</h2>

    <form action="/newAppointment" method="post">
        <fieldset>

<label> Appointment date
<input for ="date" type = "date" name="date"></input>
</label>


<label> Pet Name
    <input type="text" maxlength="255" name="pname" placeholder="Mittens"></input>    
</label>

<label for="petType" class id="creatingNewAppointment"> Pet type
    <input class="radioCheckboxInputs" type="radio" name="petType" value="dog"> Dog </input>
    <input class="radioCheckboxInputs" type="radio" name="petType" value="cat"> Cat </input>
    <span class="err" id="err-petType">Please select a type of pet.</span>  
</label>   
    
<label> Is your pet friendly?
    <input class="radioCheckboxInputs" type="checkbox" name="friendly?" value="friendly?"> Friendly </input>  
    <input class="radioCheckboxInputs" type="checkbox" name="friendly?" value="friendly?"> Not friendly </input>      
</label>

<label for="serviceType" class id="creatingNewAppointment">Service Type
    <select name= "serviceType" id="serviceType">
        <option value= "select"> Select type... </option>
        <option value= "bath+brush"> Bath & Brush </option>
        <option value= "bath+haircut"> Bath & Haircut </option>
        <option value= "nailtrim"> Nail clipping </option>
        <option value= "deluxe"> Deluxe package (Brush, Haircut, Nail clipping) </option>
    </select>
    <span class="err" id="err-service">Please select a service.</span>  
</label>

<button type="submit" id ="createNewAppointment">Submit</button>    

</fieldset>
</form>

<a href="/"><button>Back to landing page</button></a>
<a href="/appointments"><button>Back to made appointments</button></a>  

</body>
</html>