<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Appointment </title>

<!-- favicon -->
<link rel="icon" type="image/jpg" href="/pictures/logo.webp">

<!-- link to styleSheet -->
 <link rel="styleSheet" href="/styles/styles.css">

</head>
<body>
   
    <p>Create New Appointment</p>

    <form action="/newAppointment" method="post">
        <fieldset>

<label> Appointment date
<input for ="date" type = "date" name="date"></input>
</label>


<label> Pet Name
    <input type="text" maxlength="255" name="pname" placeholder="Mittens"> Pet's name </input>    
</label>

<label> Pet type
    <input type="radio" name="petType" value="dog"> Dog </input>
    <input type="radio" name="petType" value="cat"> Cat </input>    
</label>   
    
<label> Is your pet friendly?
    <input type="checkbox" name="friendly?" value="friendly?"> Friendly </input>  
    <input type="checkbox" name="friendly?" value="friendly?"> Not friendly </input>      
</label>

<label for="serviceType">Service Type
    <select name= "serviceType" id="serviceType">
        <option value= "select"> Select type... </option>
        <option value= "select"> Bath & Brush </option>
        <option value= "select"> Bath & Haircut </option>
        <option value= "select"> Nail clipping </option>
        <option value= "select"> Deluxe package (Brush, Haircut, Nail clipping) </option>
    </select>
        
</label>

</fieldset>
</form>

</body>
</html>