body{
    background-color: #A8E0FF;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #082B74;
}

#landingImg{

width: 250px;

border-radius: 150px;
padding:15px;

}

#createAccountImg{

width:100px;
border-radius: 50px;

}

#loginImg{
    width:100px;
    
}

#profilePagePicture, #newAppointmentImg{

height: 250px;
border-radius: 125px;

}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
    
    width: 400px;

    border:none;

   

}

fieldset > label {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;

    margin: 5px;

}

label > input {
    width: 180px;
    margin: 15px;
}

label > select{

    width:187px;
    margin: 15px;
}

label {
    justify-content: center;

    display: flex;
    width: 100%;
}

button{
    background-color: #cfacc0d6;
    margin-top: 10px;

    font-weight: bold;

    color:#082B74;
}

button:hover{
background-color: #B08EA2;
}

button#createAccountButton, button#createNewAppointment{
margin-top: 30px;

}

.err{

color:#B08EA2;
font-weight: bold;
padding-left: 20px;
display:none;

}

.radioCheckboxInputs{

max-width: 20px;

}