body{
    background-color: #A8E0FF;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #082B74;
}

#landingImg{

width: 250px;

border-radius: 150px;
padding:15px;

}

#createAccountImg{

width:100px;
border-radius: 50px;

}

#loginImg{
    width:100px;
    
}

#profilePagePicture, #newAppointmentImg{

height: 250px;
border-radius: 125px;

}

#profilePagePicture{

display: flex;
flex-direction: column;
align-self: center;

padding:30px;

}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
    margin: 10px;
    
    width: 400px;

    border:none;

   

}

fieldset > label {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;

    margin: 5px;

}

label > input {
    width: 180px;
    margin: 15px;
}

label > select{

    width:187px;
    margin: 15px;
}

label {
    justify-content: center;

    display: flex;
    width: 100%;
}

button{
    background-color: #cfacc0d6;
    margin-top: 10px;

    font-weight: bold;

    color:#082B74;
}

button:hover{
background-color: #B08EA2;
}

button#createAccountButton, button#createNewAppointment{
margin-top: 30px;

}

.err{

color:#B08EA2;
font-weight: bold;
padding-left: 20px;
font-family: sans-serif;

display: none;

}

.smallerInputs{

max-width: 20px;

}


#appointmentsDisplay > li{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    justify-content: space-between;

        
    }

ul > p{


font-weight: bold;


}


ul, li{

margin-bottom: 10px;

    }


li{

list-style-type: none;

}    

/* #floatLeft{

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    
    width: 200px;
    
    padding-left: 20px;
}

#floatRight{


display: flex;
flex-direction: column;
align-self: flex-end;
align-items: center;

width: 200px;

padding-right: 20px;

}
 */


#buttons >button{

    display: flex;
    flex-direction: row;

     
}


#buttons >a{

    padding:35px;

}

